{% extends "base.html" %}
{% block nav-vault %}<p class="navbar-text pull-right active">
              The Vault
            </p>
            {% endblock %}
{% block content %}

<form id="userForm" class="form-horizontal">
	<fieldset>
		<div id='user'>
			{% for user in users%}

				<span data-order='{{ user.order }}' {% if forloop.first %}class='active' {% endif %}>{{ user.user.username }}</span>

			{% endfor %}

		</div>
		<div class="">
			
			{{ user_form }}
	    </div>
	</fieldset>
</form>



{% endblock %}